body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

/* nav bar styling */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 8px 12px;
}

.logo img {
  width: 3.5rem;
}

.nav_menu {
  display: flex;
  font-size: 1rem;
}

/* content box under the nav bar */
#home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_photo {
  padding: 20px 20px;
}

.home_photo img {
  width: 12rem;
  height: 100%;
  border-radius: 50%;
}

.home_title {
  padding: 8px 12px;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
}

h2 {
  text-align: center;
}

ul li {
  list-style: none;
}

button {
  padding: 10px 10px;
  border-radius: 4px;
  border: 0.2rem solid white;
}

.home_contact {
  margin-bottom: 40px;
  background: none;
  color: white;
  font-weight: bold;
}
